{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    {% if form.instance.id %}
        <h2>{% trans 'Contract' %}</h2>
    {% else %}
        <h2>{% trans 'New Contract' %}</h2>
    {% endif %}


    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.date|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.project|as_crispy_field }}
            </div>
        </div>
        <h3>{% trans 'Clients' %}</h3>
        {% for client_field, is_principal_field in form.get_client_fields %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ client_field|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ is_principal_field|as_crispy_field }}
                </div>
            </div>
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <a href="{% url 'real_estate:list-contract' %}" class="btn btn-primary">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn btn-primary" id="save_button">{% trans 'Save' %}</button>
            </div>
        </div>
    </form>

{% endblock %}
{% block javascript %}
    {{ block.super }}

{% endblock %}
