{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Contracts' %}</h2>
    {% for contract in contract_list %}
        <div class="row">
            <div class="col-2">{{ contract.id }}</div>
            <div class="col-2">{{ contract.date }}</div>
            <div class="col-4">{{ contract.project.name }}</div>
            <div class="col-4">
                {% for client in contract.contract_clients.all %}
                    {{ client.full_name }},
                {% endfor %}
            </div>

        </div>
    {% endfor %}


{% endblock %}
{% block javascript %}
    {{ block.super }}

{% endblock %}
