{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    {% if form.instance.id %}
        <h2>{% trans 'Contract' %}</h2>
    {% else %}
        <h2>{% trans 'New Contract' %}</h2>
    {% endif %}


    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.date|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.project|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.broker|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.sales_type|as_crispy_field }}
            </div>
        </div>
        <h3 class="form-subtitle">{% trans 'Clients' %}</h3>
        <div id="contract-clients">
            {% for key, client_field, is_principal_field in form.get_client_fields %}
                <div class="row gy-2 gx-3 align-items-center" id="contract-client-{{ key }}">
                    <div class="form-group col-md-6 mb-0">
                        {{ client_field|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ is_principal_field|as_crispy_field }}
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary delete-contract-client" href="#">{% trans 'Delete' %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="control-group add-buttons">
            <div class="controls">
                <a class="btn btn-primary" id="add-client" href="#">{% trans 'Add client' %}</a>
            </div>
        </div>
        <h3 class="form-subtitle">{% trans 'Real Estate Spaces' %}</h3>
        <div id="real-estate-spaces">
            {% for key, real_estate_space_field in form.get_real_estate_space_fields %}
                <div class="row gy-2 gx-3 align-items-center real-estate-space-row" id="real-estate-space-row-{{ key }}">
                    <div class="form-group col-md-7 mb-0">
                        {{ real_estate_space_field|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-1 mb-0">
                        <label for="real-estate-space-area-{{ key }}">{% trans 'Area' %}</label>
                        <div class="area" area="0.00" id="real-estate-space-area-{{ key }}">
                            0.00
                        </div>
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        <label for="real-estate-space-price-{{ key }}">{% trans 'Price' %}</label>
                        <div class="price" price="0.00" id="real-estate-space-price-{{ key }}">
                            0.00
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary delete-real-estate-space" href="#">{% trans 'Delete' %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="total">
            <div class="row gy-2 gx-3 align-items-center" id="total-amount-div">
                <div class="form-group col-md-7 mb-0">
                    Total: {{ form.total_amount |as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="control-group add-buttons">
            <div class="controls">
                <a class="btn btn-primary" id="add-real-estate-space" href="#">{% trans 'Add Space' %}</a>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="{% url 'real_estate:list-contract' %}" class="btn btn-primary">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn btn-primary" id="save_button">{% trans 'Save' %}</button>

            </div>
        </div>
    </form>

{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            let url_mask = "{% url 'real_estate-api:detail-real-estate-space' 12345 %}"
            $('.real-estate-space').select2();
            $('.real-estate-space-row').getRealEstateData(url_mask)
            function calculateTotal() {
                let sum = 0.00;
                $('.price').each(function () {
                    let price = $(this).text().replace(',', '');
                    //console.log('Price', price)
                    if (!isNaN(price) && price.length != 0) {
                        sum += parseFloat(price);
                    }
                });
                console.log('Total', sum)
                $('#id_total_amount').val(sum)
            }

            function updateRealEstateSpaces(projectId) {
                let url_mask = "{% url 'real_estate-api:list-real-estate-space-by-project' 12345 %}"
                let url = url_mask.replace(/12345/, projectId);
                $("#id_real_estate_space_0").html('')
                $("#id_real_estate_space_0").append('<option value="" selected="">---------</option>');
                $.ajax({
                        method: 'GET',
                        url: url,
                        data: {},
                        success: function (data) {
                            $.each(data, function () {
                                console.log(this);
                                let display = `${this.name} (${this.space_type})`;
                                if (this.contract != null) {
                                    display = display + ' {% trans 'Unavailable' %}';
                                }
                                ;
                                let option = `<option value="${this.id}" price="${this.price}" area="${this.area}">${display}</option>`;
                                $("#id_real_estate_space_0").append(option);
                            });
                        }
                    }
                )
            }

            $('.delete-contract-client').on('click', function () {
                //console.log('Removing row id:', $(this).parent().parent().attr('id'));
                $(this).parent().parent().remove();
            });
            $('.delete-real-estate-space').on('click', function () {
                //console.log('Removing row id:', $(this).parent().parent().attr('id'));
                $(this).parent().parent().remove();
                calculateTotal();
            });
            $('#add-real-estate-space').on('click', function () {
                let lastRow = $("#real-estate-spaces div.row").last();
                if (lastRow.find('select').data('select2')) {
                    lastRow.find('select').select2('destroy');
                    {#$('.selectpicker').removeAttr('data-live-search')#}
                    {#    .removeAttr('data-select2-id')#}
                    {#    .removeAttr('aria-hidden')#}
                    {#    .removeAttr('tabindex');#}
                }
                ;

                let clone = lastRow.clone(true);
                let row_id = clone.attr('id');
                console.log('Row id', row_id);
                let n = parseInt(row_id.split('-')[4]) + 1;
                row_id = 'real-estate-space-row-' + n;
                clone.attr('id', row_id);
                //Space combobox
                let spaceCombo = clone.children().eq(0).find('select');
                //spaceCombo.select2('destroy');
                spaceCombo.attr('id', 'id_real_estate_space_' + n);
                spaceCombo.attr('name', 'real_estate_space_' + n);
                //spaceCombo.width('100%')

                //data-select2-id="select2-data-id_real_estate_space_0"
                let spaceComboLabel = clone.children().eq(0).find('label');
                spaceComboLabel.attr('for', 'id_real_estate_space_' + n);
                // Area container
                let areaDiv = clone.children().eq(1).find('.area');
                areaDiv.text('0.00');
                areaDiv.attr('id', 'real-estate-space-area-' + n)
                let areaDivLabel = clone.children().eq(1).find('label');
                areaDivLabel.attr('for', 'real-estate-space-area-' + n)
                // Price container
                let priceDiv = clone.children().eq(2).find('.price');
                priceDiv.text('0.00')
                priceDiv.attr('id', 'real-estate-space-price-' + n)
                let priceDivLabel = clone.children().eq(2).find('label');
                priceDivLabel.attr('for', 'real-estate-space-price-' + n)
                // Div container
                let divGroup = spaceCombo.parent();
                divGroup.attr('id', 'div_id_real_estate_space_' + n)

                clone.appendTo($("#real-estate-spaces"));
                spaceCombo.select2()
                lastRow.children().eq(0).find('select').select2();

            });
            $('#add-client').on('click', function () {
                let $clone = $("#contract-clients div.row").last().clone(true);
                let row_id = $clone.attr('id')
                let n = parseInt(row_id.split('-')[2]) + 1
                row_id = 'contract-client-' + n
                //console.log($clone)
                $clone.attr('id', row_id);
                ///div_id_contract_client_client_2
                //let groupDiv = $clone.find('div');
                //groupDiv.attr('id', 'div_id_contract_client_client_' + n)

                let clientCombo = $clone.children().eq(0).find('select');
                clientCombo.attr('id', 'id_contract_client_client_' + n)
                clientCombo.attr('name', 'contract_client_client_' + n)
                let clientComboLabel = $clone.children().eq(0).find('label');
                clientComboLabel.attr('for', 'id_contract_client_client_' + n);

                let isPrincipalCheckBox = $clone.children().eq(1).find('input');
                isPrincipalCheckBox.attr('id', 'id_contract_client_is_principal_' + n);
                isPrincipalCheckBox.attr('name', 'contract_client_is_principal_' + n);
                let isPrincipalLabel = $clone.children().eq(1).find('label');
                isPrincipalLabel.attr('for', 'id_contract_client_is_principal_' + n);

                $clone.appendTo($("#contract-clients"));
                //$this.off('input', arguments.callee)
                //$clone.on('input', arguments.callee)

            })

            $('#id_project').on('change', function () {
                let project = $(this).val()
                console.log('Project ', project);
                updateRealEstateSpaces(project);
            })
            $('.real-estate-space').on('change', function () {
                let optionSelected = $(this).find("option:selected");
                let id = $(this).attr('id');
                let area = optionSelected.attr('area');
                let price = optionSelected.attr('price');

                let n = parseInt(id.split('_')[4]);
                console.log('Id', id, 'area', area, 'Price', price, n);
                $('#real-estate-space-price-' + n).html(price);
                $('#real-estate-space-price-' + n).attr('price', price);

                $('#real-estate-space-area-' + n).html(area);
                $('#real-estate-space-area-' + n).attr('area', area);
                calculateTotal();


            });
            //console.log('CALC')
            //calculateTotal();
        });
    </script>

{% endblock %}
